<!DOCTYPE html>
<html>
<head>
    <title>Place Details</title>
    <link rel="stylesheet" href="../styles/state.css">
</head>
<body>

<nav class="navbar">
    <ul>
        <li><a href="state.html">⬅ Back to State</a></li>
    </ul>
</nav>

<div class="state-container">

    <div class="place-details">

        <h2 id="placeName">Munnar</h2>

        <img src="../images/munnar.jpg" width="400">

        <p><strong>District:</strong> Idukki</p>

        <p>
            Munnar is a beautiful hill station located in Kerala,
            famous for tea plantations, cool climate, and scenic views.
        </p>

        <p><strong>Best Time to Visit:</strong> September to March</p>

        <a href="https://maps.google.com" target="_blank">View Location on Map</a>

    </div>

</div>

</body>
</html>
